<% include ../partials/header %>

    <table class="table">
        <thead>
            <tr>
                <th>SID</th>
                <th>title</th>
                <th>firstname</th>
                <th>lastname</th>
                
            </tr>
        </thead>
        <tbody>
        
    <% students.forEach(function(students){ %>
    
            <tr>
                <td scope="row"><%= students.sid %></td>
                <td><%= students.title %></td>
                <td><%= students.firstname %></td>
                <td><%= students.lastname %></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <% }); %>
        </tbody>
    
    </table>


<% include ../partials/footer %>