<% include ../partials/header %>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Credits</th>
                <th>Sections</th>
                
            </tr>
        </thead>
        <tbody>
        
    <% subjects.forEach(function(subjects){ %>
    
            <tr>
                <td scope="row"><%= subjects.code %></td>
                <td><%= subjects.title %></td>
                <td><%= subjects.credits %></td>
                <td><%= subjects.sections %></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <% }); %>
        </tbody>
    
    </table>


<% include ../partials/footer %>